{% extends "master.html" %}

{% block title %}

  Forensics System - List of all criminals
{% endblock %}


{% block content %}

  <p><a href="/">HOME</a></p>


  <h1>Criminals</h1>


  <form action="#" method="get">
 <input type="Submit" formaction="add" value="Add New Criminal" />
 <input type="Submit" formaction="fetch" value="Show criminals" />
 <input type="Submit" formaction="fprint" value="Search for criminals by fingerprint" />
 <input type="Submit" formaction="faceRecog" value="Search criminals by Face" />


</form>

{% endblock %}
