{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <title>Fingerprint Matching</title>
    
</head>
<body>
    
    <h1>Fingerprint Matching</h1>
    
  
	<form method="post" enctype="multipart/form-data">
        
        {% csrf_token %}
        
       <!-- <label for="fingerprint_data">Enter Fingerprint Data:</label> -->
	
	  <p style="text-align : left;">> Enter FIngerprint Data </p>
   	  <input type="file" name="fingerprint_data"> 
        
        <br>
        
        <button type="submit">Match Fingerprint</button>
        
    </form>
    
    <!-- Display the result if available -->
    <div id="result">
        
        {% if best_filename %}
        
            <p>Best match: {{ best_filename }}</p>
            <p>Score: {{ score }}</p>
        
            <img src="{% static 'SOCOFing/Real/' %}{% with best_filename as filename %}{% endwith %}">
        
        {% endif %}
    </div>
</body>
</html>
